body{
    background-attachment: fixed;
    background:url("photos/bulb.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
#content{
    margin-top: 6vw;
    margin-left: 18vw;
    margin-right: 18vw;
}
h1{
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 64px;
    font-style: italic;
    font-weight: 600;
    font-family: cursive;
    color: black;
}
h2{
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    font-family: cursive;
    color: black;
}
#b{
    color: black;
}
#h{
    color: white;
}
p{
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    font-family: cursive;
    color: white;
}
#contacts{
    margin-left: 80vw;
    margin-bottom: 2vw;
    position: relative;
    }
    .na{
        margin: 0 5px;
        
      }