body{
    background: url('photos/planet.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-family: sans-serif;    
}
.mapouter{position:relative;text-align:right;height:400px;width:500px;}
.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:500px;}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  background-color: white;
}

.title {
  color: grey;
  font-size: 18px;
}
 
.space{letter-spacing: 1.5px;} 
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  width: 100%;
  font-size: 18px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
 #c1{
  margin-left: 45%;
  margin-top: 8%;
 }
  #c2{
  margin-left: 2%;
  margin-top: -540px;
 }
  #c3{
  margin-left: 23.5%;
  margin-top: -540px;
 }
body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
#contacts{
margin: 20px;
left: 17%;
bottom: 0;
position: absolute;
}
#map{
	bottom :0.2%;
	right : 0.2%;
	position:absolute;
	border :2px solid lightsteelblue;
}
#ad{
	bottom: 65%;
	left: 70%;
	position: absolute;
	font-size: 20pt;
	color: white;
}
#nm{
	display: none;
}
.black{
	color: white;
  font-weight: 700;
}
.na{
  margin: 0 33px;
  }
  #con{
  	padding:5px;
  	top: 0.1%;
  	right:40%;
  	position: absolute;
  	font-size: 50pt;
  	font-family: "Comic Sans MS", cursive, sans-serif;
  	font-weight: bold;
  	border:7px solid lightsteelblue;
  	border-top:none;
  	/*text-decoration: underline;*/
  	border-radius: 10%;
  	color: white;
  }

  @media only screen and (max-width: 768px){
    .card {
  max-width: 300px;}
    #c1{
      visibility: hidden;
 }
  #c2{
 visibility: hidden;
 }
  #c3{
 visibility: hidden;
 }
 #con{font-size: 25pt;
  margin-left: 0%}

  #map{
  bottom :-100px;
  right : 0px;
  position:absolute;
  width 100%;
}
#ad{
    margin-left: -66%;
    top: 850px;
    font-size: 16pt;
  }
  .mapouter{position:relative;text-align:right;height:350px;width:380px;}
.gmap_canvas {overflow:hidden;background:none!important;height:350px;width:380px;}

#contacts{
margin: 10px;
left: 5%;
bottom: -400px;
position: absolute;
padding-bottom: 20px;
}
.na{
  margin: 0 8px;
  }
  #nm{
    display: block;
  top: 24%;
  left: 6%;
  position: absolute;
  font-size: 18pt;
  color:white;}
body{
    background: url('photos/planet.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto auto;
    height: 100%;
    font-family: sans-serif;    
}

}
