body{
    background: fixed;
    background-attachment: fixed;
    background: linear-gradient(to top right, #ff9900 0%, #0066ff 120%);
    background: linear-gradient(to right, #333300 0%, #00ffff 125%);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 100%;
    margin-left: 20vw;
    margin-right: 20vw;
}
header{
    text-align: center;
    margin-left: 0vw;
    margin-top: 25px;
    font-size: 500%;
    font-weight: 600;
    font-family: cursive;
    animation: mymove 2s infinite;
}
.button
    {
        border:0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #1ed169;
        padding: 14px 40px;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
        animation: mymove 2s infinite;
      }

.button:hover{
    background-color: black;
    color: white
}
@keyframes mymove {
    0%{
        transform: translateY(0vw);
        color: black;
    }
    25%{
        transform: translateY(-2vw);
    }
    37.5%{
        transform: translateY(0vw);
    }
    50%{
        transform: translateY(-1vw);
        color: white;
    }
    62.5%{
        transform: translateY(0vw);
    }
    75%{
        transform: translateY(0vw);
    }
    100%{
        transform: translateY(0vw);
        color: black;
    }
  }
h3{
    animation: mymove 2s infinite;
    color: white;
    font-size: 28px;
    font-family: cursive;
}
p{
    font-size: 12 px;
    font-family: cursive;
    color: white;
}
li{
    font-size: 12 px;
    font-family: cursive;
    color: white;
}
h5{
    color: white;
    font-size: 24px;
    font-family: cursive;
}
.quotes{
    color: black;
    font-size: 24px;
    font-family: cursive;
}