body{
    background: url('photos/planet-702177_1920.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-family: sans-serif;
    
}
.heading{
    font-size: large;
    font-family: sans-serif;
    color: chartreuse;
    text-align: center;
    margin-left: 43%;
    margin-right: 40%;
}
.size{
    height :4em;
    width : 14em;
    background: transparent;
   border: 2px solid rgb(46,122,120);
   font-weight: 600;
   border-radius: 80px;
   outline : none;
  color : white;
}
.size:hover{
  background-color:rgb(46,122,120);
  color:black;
    width: 16em;
    transition:0.50s;
}