body{
    background: url('photos/planet-702177_1920.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-family: sans-serif;
    
}
.heading{
    font-size: large;
    font-family: sans-serif;
    color: chartreuse;
    text-align: center;
    margin-left: 43%;
    margin-right: 40%;
}
.size{
    height :4em;
    width : 12em;
    background: transparent;
   border: 2px solid rgb(46,122,120);
   font-weight: 600;
   border-radius: 80px;
   outline : none;
  color : white;
}
.size:hover{
  background-color:rgb(46,122,120);
  color:black;
    /* width: 14em; */
    transition:0.50s;
}
#newuser{
  margin: 30px;
right: 0;
top: 0;
position: absolute;

}
#contacts{
margin: 30px;
right: 0;
bottom: 0;
position: absolute;
}
.header{
  font-size: 07em;
  color:rgb(77, 129, 228);
  font-family:cursive;
  box-sizing: border-box;
  width: fit-content;
  /* border: 5px double royalblue; */
  /* border-radius: 50px; */

}
.content{
  font-size:40px;
  color:rgb(11, 252, 240);
 
  box-sizing: content-box;
  width: 60%;
 


}

.na{
  margin: 0 5px;
  
}