body{
    background: url('5.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-family: sans-serif;
    
}
.registrationbox{
    text-align: start;
    background:lightsteelblue;

    width: 30%;
    height: 900px;
    top: 65%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 40px 30px;
    box-sizing: border-box;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px ;
    min-width: 350px;
    margin-bottom: 30px;
    font-size: 23px;
    color: black;
    border-width: 5px;
    border-style: ridge;
    border-color: black;
    font-weight: bold;
}
#mod{
    align-self: center;
    padding-left: 30%;
}
.registrationbox input[type="text"],input[type="email"],input[type="password"]{
   width: 100%;
   border: none;
   border-bottom: 1px solid black;
   background: transparent;
   outline: none;
   height: 40px;
   color:black;
   font-size: 16px;
}
.registrationbox input[type="submit"]:hover,input[type="reset"]:hover
{
	cursor: pointer;
	background: #6666ff;
}
.radio{
    font-size: 17.5px;
}
.registrationbox ::placeholder{
    color: gray;
}
/*changin the font-size of term and condition line*/
#tnc{   
font-size: 17.5px;
}
/*changin th size of checkbox*/
input.cb {
    width : 20px;
    height : 20px;
}
/*size of buttons*/
.size{
    height :2em;
    width : 8em;
    background: transparent;
   border: 2px solid #6666ff;
   font-weight: 600;
   border-radius: 80px;
   outline : none;

}
/*size of dob buttons*/
.size1{
   height :2em;
    width : 5em;
    background: transparent;
   border: 1.2px solid black;
   font-weight: 600;
   border-radius: 90px; 
   outline : none;
}
