<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <meta charset="utf-8" name="viewport"  content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/public/about.css">
</head>
<body>
    <div id="content">
    <h1>About Us</h1>
    <h2 id="h">Infotsav</h2>
    <p id="b">
        Infotsav'20, as the name suggests and the motto paving its path ahead, is a two-day techno-managerial fest designed to empower a legacy of innovators through activities that inspire youth, honour role models and encourage creativity and problem-solving skills in today’s digital world. 
    </p>
    <br>
    <h2>ABV-IIITM</h2>
    <p class="bl">
        ABV-IIITM Gwalior, itself, is a live example of the beautiful convergence of technology and management, where budding ideas meet concrete planning. Being an institute of national importance, we carry the immense responsibility of being a frontrunner in the digital India mission and Infotsav '20 is a step ahead in that direction. 
    </p>
    <br>
    <p class="bl">
        Besides, providing an interactive platform for the cyber youth to present their innovations and ideas, it also gives them the rare opportunity to engage in conversations with the pioneers working on the digital frontiers and witness the revolutionary advances in science and technology. The fest is also jam packed with fun-tech events and quizzes. 
    </p>
    <br>
    <p >
        The fest to be held on 8th-9th February 2020, resonates with the spirit of ABV-IIITM Gwalior where we strongly believe that challenges when tackled with innovation, leveraged with the power of technology, can provide breakthrough solutions to the community and in turn inspire the youth of today and tomorrow. 
    </p>
    <br>
    </div>
    <footer>
    <div id="contacts">
    <a class="na" href="https://www.facebook.com/Infotsav" target=_blank; ><img src="photos/facebook.png" height="50px" width="50px"></a>
    <a class="na"href="https://www.instagram.com/infotsav19/?hl=en"target=_blank; ><img src="photos/instagram.png" width="50px" height="50px"></a>
    <a class="na"href="https://www.linkedin.com/company/infotsav-iiit-gwalior"target=_blank; ><img src="photos/linkedin.png" width="50px" height="50px"></a>
    <a class="na"href="https://twitter.com/infotsav_iiitm?"target=_blank; ><img src="photos/twitter.png" width="50px" height="50px"></a>
    </div>
    </footer>
    
</body>
</html>