<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	<meta charset="utf-8" name="viewport"  content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/public/contact.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div id="contacts">
	<a class="na"href="https://twitter.com/infotsav_iiitm?"target=_blank; ><img src="photos/twitter.png" width="50px" height="50px"></a>
	<a class="na" href="https://www.facebook.com/Infotsav" target=_blank; ><img src="photos/facebook.png" height="50px" width="50px"></a>
<a class="na"href="https://www.instagram.com/infotsav19/?hl=en"target=_blank; ><img src="photos/instagram.png" width="50px" height="50px"></a>
<a class="na"href="https://www.linkedin.com/company/infotsav-iiit-gwalior"target=_blank; ><img src="photos/linkedin.png" width="50px" height="50px"></a>
</div>
<div id="map"><div class="mapouter"><div class="gmap_canvas"><iframe width="500" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=iiitm%20gwalior&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.enable-javascript.net/blog/divi-discount/">divi discount</a></div><style></style></div></div>
<div id="nm">
	<em><strong>Sanskar Kabra</strong> (Frontend) :</em> <br>
	<em><span class="black">8269656676</span></em><br>
	<em><strong>Shikhar Shukla</strong> (Frontend) :</em> <br>
	<em><span class="black">7879072257</span></em><br>
	<em><strong>Naman Lakhwani</strong> (Backend) :</em> <br>
	<em><span class="black">9039960893</span></em>
</div>
<div id="ad">
	<em><span class="black">"</span> IIIT Gwalior <br>Morena Link Road<br>Gwalior, Madhya Pradesh<br>474015,India.
		<br><strong><span class="black">Email : </span></strong>infotsav2020@iiitm.ac.in<br>
<strong><span class="black">Phone Number : </span></strong> 0751-2449801 <span class="black">"</span> </em>
</div>
<div id="con">Contact Us </div>

<div class="card" id="c1">
  <img src="/photos/naman.jpeg" alt="Naman" style="width:100%">
  <h1 class="space">Naman Lakhwani</h1>
  <p  class="title">Web Developer</p>
  <p class="space">Frontend + Backend</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="https://www.linkedin.com/in/naman-lakhwani-811402121/"><i class="fa fa-linkedin"></i></a>  
    <a href="https://www.facebook.com/naman.lakhwani"><i class="fa fa-facebook"></i></a> 
  </div>
  <p><button>Contact No. 9039960893</button></p>
</div>
<div class="card" id="c2">
  <img src="/photos/Screenshot (15).png" alt="Sanskar" style="width:100%">
    <h1 class="space">Sanskar Kabra</h1>
  <p class="title">Web Developer</p>
  <p class="space">Frontend</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="https://www.linkedin.com/in/sanskar-kabra-a3a347178/"><i class="fa fa-linkedin"></i></a>  
    <a href="https://www.facebook.com/sanskar.kabra.3"><i class="fa fa-facebook"></i></a> 
  </div>
  <p><button>Contact No. 8269656676</button></p>
</div>
<div class="card" id="c3">
  <img src="/photos/pp.jpeg" alt="Shikhar" style="width:100%">
  <h1 class="space">Shikhar Shukla</h1>
  <p class="title">Web Developer</p>
  <p class="space">Frontend</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="https://www.linkedin.com/in/shikhar-shukla-1b270618a/"><i class="fa fa-linkedin"></i></a>  
    <a href="https://www.facebook.com/shikhar.shukla.10236"><i class="fa fa-facebook"></i></a> 
  </div>
  <p><button>Contact No. 7879072257</button></p>
</div>
</body>
</html>
