<!DOCTYPE html>
<html lang="en"></html>

<head>
	<title>
		Home
	</title>
	<link href="https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Shrikhand&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One|Pacifico|Righteous&display=swap" rel="stylesheet">
	<meta charset="utf-8" name="viewport"  content="width=device-width">
	<link href="https://fonts.googleapis.com/css?family=Audiowide|Lobster+Two|Nosifer|Oleo+Script|Permanent+Marker&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Barlow+Condensed|Monoton&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/public/home.css">
</head>
<body>


<div id="contacts">
	<a class="na" href="https://www.facebook.com/Infotsav" target=_blank; ><img src="photos/facebook.png" height="50px" width="50px"></a>
<a class="na"href="https://www.instagram.com/infotsav19/?hl=en"target=_blank; ><img src="photos/instagram.png" width="50px" height="50px"></a>
<a class="na"href="https://www.linkedin.com/company/infotsav-iiit-gwalior"target=_blank; ><img src="photos/linkedin.png" width="50px" height="50px"></a>
<a class="na"href="https://twitter.com/infotsav_iiitm?"target=_blank; ><img src="photos/twitter.png" width="50px" height="50px"></a>
</div>
<br><div id="newuser">
	<a href="login.html" class="bitton" id="button"><button class="size">Login</button></a>

<a href="Register.html"><button class="size">Sign Up</button></a>
</div>

<div id="boxy">
	<ul class="ul1">
		<li class="li1" ><a class="a1" href="technovation.html"><strong>Technovation</strong></a></li>
	<li class="li1"><a class="a1" href="robowars.html"><strong>Robowars</strong> </a></li>
	<li class="li1"><a class="a1" href="entrepreneurial.html"><strong> Entrepreneurship</strong></a></li>
	<li class="li1"><a class="a1" href="softwarecorner.html"><strong> Software Corner</strong></a></li>
	<li class="li1"><a class="a1"  href="Gamaics.html>"><strong>Gamiacs</strong></a></li>
	
</ul>	
</div>



<input type="checkbox" id="check">
<label for="check">
  <img src="/photos/menu.png" id="btn">
  <img src="/photos/cancel.png" id="cancel">
</label>
<div class="sidebar">
    <header>INFOTSAV</header>
  
</div>

<div class="cas">
	
	<div class="header" ><span>INFOTSAV'20</span></div>
	<div><span>

	</span><br></div>
	<div class="content">"INFOTSAV is the Techno-Managerial festival of ABV-IIITM Gwalior. It is the largest techno-managerial fest of central India. Infotsav is a platform which gives a competitive and healthy atmosphere to compete, develop and nourish the creativity and innovation."</div>
	
</div>

<div id="intro">
	<div class="hy"><span > INFOTSAV<br>2K20</span></div>
	<div id="xs"><button class="size" onclick="myh()">EXPLORE</button></div>
</div>

<script>
	      
      	  const myh=()=>{
			setTimeout(()=>{window.location = '/home' },1800);"
		  const intro=document.getElementById("intro");
		  intro.style.top="-100%";
		  
		  
		  
	  }
	
      function delay (URL) {
        setTimeout( function() { window.location = URL }, 500 );
    }
</script>
</body>


</html>