body{
    background: url('photos/error.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-family: sans-serif;    
}
#back{
	bottom: 6%;
	left: 43%;
	color:white;
	font-family: serif;
	position:absolute;
}
@media screen and (max-width:770px){
    #back{
   font-size: 28px;
   left: 35%;
}
    }